<ion-content class="ion-padding">
  <div class="welcome-container">
    
    <img src="assets/images/logo.png" alt="ErgoDrive Logo" class="logo">

    <h1 class="title">Selamat Datang di ErgoDrive</h1>

    <p class="subtitle">Aplikasi untuk membantu Anda berkendara dengan lebih aman dan nyaman.</p>

    <ion-button expand="block" shape="round" routerLink="/login" class="login-button">
      Mulai
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-button>

  </div>
</ion-content>